{% load custom_filters %}
{% for message in room_messages %}
    {% if not break_loop %}
            {% if 'minutes' in message.created|timesince and request.user != message.user and request.user in message.room.participants.all %}
                <div class="activ-messages">
                    
                    <!-- <a href="{% url 'user-profile' message.user.id %}">@{{message.user}}</a> -->
                    <div class="participants">
                        <div style="position: relative; width: 80px; height: 80px;">
                            <img src="{{message.user.avatar.url}}" alt="" class="prof-img participant-user">
                            <span style="position: absolute; left: 40%; top: 45%; border-radius: 50%; margin: 20px; width: 10px; height: 10px; border: 0.2em #fff solid;" class="check-on-off"></span>
                        </div>
                        <!-- <img src="https://static.vecteezy.com/system/resources/thumbnails/005/129/844/small_2x/profile-user-icon-isolated-on-white-background-eps10-free-vector.jpg" alt="" class="prof-img participant-user"> -->
                    <div>
                        <span class="participant-user-user"><a href="{% url 'user-profile' message.user.id %}" style="color: rgb(3, 24, 58); font-size: 16px;">@{{message.user}}</span></a>
                        <p style="margin: 0;"> {{message.created|timesince}} ago</p>
                        <div style="display: inline-block; margin-top: 10px;">
                            <small>replied to room </small>
                            <a href="{% url 'room' message.room.id %}" style="color: rgb(6, 38, 89);">"{{message.room}}"</a></div>
                    </div>
                    </div>

                    <div class="message-body" style="display: grid; grid-template-columns: 3fr 1fr; background: #fff; padding: 5px; padding-left: 10px; border-radius: 20px;">
                        <p style="word-wrap: break-word;">{{message.body}}</p>
                        {% if request.user == message.user %}
                            <a href="{% url 'delete-message' message.id %}" onclick="return confirm('Are you sure you want to delete the message?');"><i class="fa fa-trash" style="font-size: 20px; margin-left: 20px; margin-top: 12px;"></i></a>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                {% if forloop.first %}
                    <p style="margin-top: 20px; text-align: center;">You don't have recent activities 😞</p>
                    {% set_break %}
                {% endif %}
            {% endif %}
    {% endif %}
{% empty %}
    <p style="margin-top: 20px; text-align: center;">You don't have recent activities 😞</p>
{% endfor %}